body {
    margin: 40px auto;
    background-color: #ffffff;
    color: #3d3846;
    font-size: 150%;
    max-width: 650px;
    font-family: monospace;
}

a {
    text-decoration: none;
}

a:link {
    color: #241f31;
}

a:visited {
    color: #241f31;
}

a:hover {
    color: #000000;
}

a:active {
    color: #5e5c64;
}
